/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.2.2_react-dom@19.1.1_react@19.1.1__react@19.1.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/.pnpm/next@15.2.2_react-dom@19.1.1_react@19.1.1__react@19.1.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/features/dashboard/components/report/MarkdownViewer.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
 .MarkdownViewer_reportFont__VAUcH {
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, "Inter var", "Segoe UI Variable Text", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	line-height: 1.65;
	letter-spacing: 0.01em;
}

.MarkdownViewer_reportFont__VAUcH h1,
.MarkdownViewer_reportFont__VAUcH h2,
.MarkdownViewer_reportFont__VAUcH h3,
.MarkdownViewer_reportFont__VAUcH h4,
.MarkdownViewer_reportFont__VAUcH h5,
.MarkdownViewer_reportFont__VAUcH h6 {
	font-family: Inter, "Inter var", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-feature-settings: "liga" 1, "calt" 1;
}

